/* CSS file for Dart Profile Page */

.profile {
    box-shadow: 0 4px 8px 0 rgba(28, 179, 238, 0.2);
    background-color: #8cc6e7;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.details {
    color: white;
    font-size: 18px;
  }    .nav_button {display: none;}

  .topnav a {
      color: #ffffff;
      text-align: center;
      padding: 10px 16px;
      font-size: 17px;
      background-color: #7fc1ec;
      display: inline;
  }
  
  .topnav a:hover {
      background-color: rgb(0, 153, 255);
      color: black;
      display: inline;
  }
  .topnav a.active {
      background-color: #1766ce;
      color: white;
      display: inline;
  }

  .top_navigation_bar {
      background-color: rgb(77, 161, 218);
      text-align: center;
      padding: 10px;
      display: block;
  }

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: #1c87c4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

button:hover, a:hover {
    opacity: 0.7;
  }

main {
    margin-bottom: 0px; 
    margin-right: 0px;        
    background-color: #ccdee9;   
    padding: 5px; 
}

article.lists {
    font-family: sans-serif;
    position: relative;
    text-align: center;
}
article.about {
    font-family: sans-serif;
    position: relative;
    text-align: center;
    max-width: 800px;
    margin:0 auto;

}

img.profile {
  width: 100%;
}

img {
  border: 5px solid #000;
}